body {
  text-align: center;
  background: linear-gradient(90deg, #38598b, #113f67);
  color: #d3d6db;
}

h1 {
  font-family: sans-serif;
  font-size: 20px;
}

.plans {
  text-align: left;
}

/* #a2a8d3, #38598b, */
