* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: sans-serif;
  margin-left: 40px;
  text-align: center;
  background: linear-gradient(90deg, #38598b, #113f67);
  color: #d3d6db;
}

.main-header {
  text-align: center;
  font-size: 32px;
  padding: 20px 0;
}

/* div {
  margin: 20px 10px;
} */

button {
  padding: 10px 5px;
  margin: 10px 0;
  background-color: green;
  border: 0;
}

div {
  text-align: center;
  width: 500px;
  height: auto;
  border: 5px solid;
  margin: 20px;
}

li {
  list-style-type: none;
}

ol {
  width: 500px;

  list-style-type: none;
  color: #d3d6db;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #005689;
}

li a {
  float: left;
  color: aliceblue;
  text-align: center;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
