* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

nav {
  width: 700px;
}

body {
  font-family: sans-serif;
  margin-left: 40px;
  text-align: center;
  background: linear-gradient(90deg, #38598b, #113f67);
  /* position: relative;
  display: flex;
  justify-content: center; */
  color: #d3d6db;
}

.main-header {
  text-align: center;
  font-size: 32px;
  padding: 20px 0;
}

/* div {
  margin: 20px 10px;
} */

/* .plans {
  text-align: center;
} */

button {
  padding: 10px 5px;
  margin: 10px 0;
  background-color: green;
  border: 0;
}

.plan {
  text-align: center;
  width: 300px;
  height: auto;
  border: 5px solid;
  margin: 20px;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* .show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: #79c2d0;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  color: black;
}

li {
  list-style-type: none;
}

ol {
  width: 500px;

  list-style-type: none;
  color: #d3d6db;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #005689;
}

li a {
  float: left;
  color: aliceblue;
  text-align: center;
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
